/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
    chosen {
        zephyr,display = &st7305;
    };
   
    st7305: st7305@0 {
        compatible = "sitronix,st7305";
        mipi-max-frequency = <10000000>;
        reg = <0>;
        height = <200>;
        width = <200>;
        start-column = <0>;
        nvm-load = [17 02];
        gate-voltages = [11 04];
        vsh = [41 41 41 41];
    	vsl = [19 19 19 19];
    	vshn = [41 41 41 41];
    	vsln = [19 19 19 19];
        osc-settings = <0xA6>;
    	framerate = <0x5>;
		multiplex-ratio = <0x64>;
    	source-voltage = <0x0>;
		remap-value = <0x40>;
	    panel-settings = <0x29>;
		mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
        
        mipi_dbi {
	        compatible = "zephyr,mipi-dbi-spi";
	        dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
	        reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
	        spi-dev = <&spi0>;
            write-only;
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };
};

